@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.mainpage{
    width: 90%;
    height: 100vh;
    margin: auto;
    text-align: center;
    font-family:'Gloria Hallelujah', cursive ;
}

.mainpage h1{
    margin: 0;
    padding: 20px 0;
}


.avatarstyle img{
    width: 200px;
    height: 200px;
}

.button{
    background-color: lightgray;
    box-shadow: inset;
}

